apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
  labels:
    app: gateway-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      containers:
        - name: gateway-service
          image: adish786/gateway-service:latest
          ports:
            - containerPort: 3003
          env:
            - name: USER_SERVICE_URL
              value: http://user-service:3000
            - name: PRODUCT_SERVICE_URL
              value: http://product-service:3001
            - name: ORDER_SERVICE_URL
              value: http://order-service:3002
          resources:
            requests:
              cpu: "150m"
              memory: "256Mi"
            limits:
              cpu: "300m"
              memory: "512Mi"
          livenessProbe:
            httpGet:
              path: /health
              port: 3003
          readinessProbe:
            httpGet:
              path: /health
              port: 3003
